In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df=pd.read_csv("/content/drive/MyDrive/M.tech/Machine learning/Airline_review.csv")

In [5]:
df.head()

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [6]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline Name            23171 non-null  object
 1   Overall_Rating          23171 non-null  object
 2   Review_Title            23171 non-null  object
 3   Review Date             23171 non-null  object
 4   Verified                23171 non-null  bool
 5   Review                  23171 non-null  object
 6   Aircraft                7129 non-null   object
 7   Type Of Traveller       19433 non-null  object
 8   Seat Type               22075 non-null  object
 9   Route                   19343 non-null  object
 10  Date Flown              19417 non-null  object
 11  Seat Comfort            19016 non-null  float64
 12  Cabin Staff Service     18911 non-null  float64
 13  Food & Beverages        14500 non-null  float64
 14  Ground Service          18378 non-null  float64
 15  Inflight Entertainment  10829 non-null  float64
 16  Wifi & Connectivity     5920 non-null   float64
 17  Value For Money         22105 non-null  float64
 18  Recommended             23171 non-null  object
dtypes: bool(1), float64(7), object(11)
memory usage: 3.2+ MB

In [8]:
df.duplicated().value_counts()

False    23051
True       120
dtype: int64

In [9]:
df.drop_duplicates()

,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,ZIPAIR,1,"""customer service is terrible""",5th July 2022,False,Bangkok to Tokyo. I’ve flown many low cost ai...,NaN,Couple Leisure,Economy Class,Bangkok to Tokyo,June 2022,2.0,1.0,NaN,1.0,1.0,1.0,1.0,no
23167,ZIPAIR,1,"""Avoid at all costs""",1st June 2022,True,Avoid at all costs. I booked flights to go f...,NaN,Solo Leisure,Economy Class,Singapore to Tokyo,June 2022,NaN,NaN,NaN,NaN,NaN,NaN,1.0,no
23168,ZIPAIR,3,"""Will not recommend to anyone""",31st May 2022,True,Flight was leaving at 23.15 and after an hou...,NaN,Business,Economy Class,Bangkok to Tokyo,May 2022,2.0,4.0,2.0,1.0,NaN,NaN,2.0,no
23169,ZIPAIR,6,"""It was immaculately clean""",23rd May 2022,True,Zipair is JAL’s budget airline. They don’t ha...,Dreamliner,Business,Business Class,Tokyo to Los Angeles,May 2022,3.0,4.0,3.0,1.0,2.0,5.0,5.0,yes
23170,ZIPAIR,1,"""lost all of our money with no refund""",20th May 2022,True,They lied about connection in Narita and we ...,NaN,Solo Leisure,Economy Class,Singapore to Tokyo,May 2022,NaN,NaN,NaN,1.0,NaN,NaN,1.0,no

In [10]:
df.isnull().sum()

Airline Name                  0
Overall_Rating                0
Review_Title                  0
Review Date                   0
Verified                      0
Review                        0
Aircraft                  16042
Type Of Traveller          3738
Seat Type                  1096
Route                      3828
Date Flown                 3754
Seat Comfort               4155
Cabin Staff Service        4260
Food & Beverages           8671
Ground Service             4793
Inflight Entertainment    12342
Wifi & Connectivity       17251
Value For Money            1066
Recommended                   0
dtype: int64

In [11]:
df['Aircraft'].value_counts()

A320                         1041
Boeing 737-800                553
Boeing 737                    404
A330                          349
Boeing 787                    349
                             ...
Airbus 330-300                  1
A350-900 / Boeing 777-300       1
A350-900 / Boeing 747-400       1
Boeing 777/350                  1
Boeing787                       1
Name: Aircraft, Length: 1048, dtype: int64

In [12]:
df['Airline Name'].value_counts()

Caribbean Airlines           100
GoAir                        100
Germanwings                  100
Philippine Airlines          100
Bangkok Airways              100
                            ...
JC International Airlines      1
MEGA Maldives Airlines         1
MAYAir                         1
Tibet Airlines                 1
Dimonim Air                    1
Name: Airline Name, Length: 497, dtype: int64

In [13]:
df.columns

Index(['Airline Name', 'Overall_Rating', 'Review_Title', 'Review Date',
       'Verified', 'Review', 'Aircraft', 'Type Of Traveller', 'Seat Type',
       'Route', 'Date Flown', 'Seat Comfort', 'Cabin Staff Service',
       'Food & Beverages', 'Ground Service', 'Inflight Entertainment',
       'Wifi & Connectivity', 'Value For Money', 'Recommended'],
      dtype='object')

In [14]:
df['Recommended'].value_counts()

no     15364
yes     7807
Name: Recommended, dtype: int64

In [15]:
df['Overall_Rating'].value_counts()

1    11595
2     2296
9     1768
8     1757
3     1356
7     1193
4      859
n      842
5      830
6      675
Name: Overall_Rating, dtype: int64

In [17]:
df['Overall_Rating']=df['Overall_Rating'].replace('n',10)
df['Overall_Rating']=df['Overall_Rating'].astype(int)

In [18]:
df['Overall_Rating'].isnull().sum()

0

In [19]:
df['Type Of Traveller'].value_counts()

Solo Leisure      7120
Couple Leisure    5265
Family Leisure    4352
Business          2696
Name: Type Of Traveller, dtype: int64

In [20]:
# Forward-fill (fill missing values with the previous valid value)
df['Type Of Traveller'] = df['Type Of Traveller'].fillna(method='ffill')

In [21]:
df['Type Of Traveller'].isnull().sum()

0

In [22]:
df['Type Of Traveller'].value_counts()

Solo Leisure      8386
Couple Leisure    6290
Family Leisure    5148
Business          3347
Name: Type Of Traveller, dtype: int64

In [23]:
df['Seat Type'].value_counts()

Economy Class      19145
Business Class      2098
Premium Economy      646
First Class          186
Name: Seat Type, dtype: int64

In [24]:
# Forward-fill (fill missing values with the previous valid value)
df['Seat Type'] = df['Seat Type'].fillna(method='ffill')

In [25]:
df['Seat Type'].isnull().sum()

0

In [26]:
df['Seat Type'].value_counts()

Economy Class      20089
Business Class      2239
Premium Economy      649
First Class          194
Name: Seat Type, dtype: int64

In [27]:
df['Seat Comfort'].value_counts()

1.0    6337
3.0    3618
4.0    3378
2.0    2869
5.0    2670
0.0     144
Name: Seat Comfort, dtype: int64

In [28]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
# Extract the column to be imputed as a 2D array
data = df[['Seat Comfort']].values.reshape(-1, 1)
# Perform KNN imputation
imputed_values = imputer.fit_transform(data)
# Update the original DataFrame with the imputed values

In [29]:
# Round the imputed values to the nearest integers
imputed_data_rounded = np.round(imputed_values)

In [30]:
df['Seat Comfort']=imputed_data_rounded

In [31]:
df['Seat Comfort'].isnull().sum()

0

In [32]:
df['Seat Comfort'].value_counts()

3.0    7773
1.0    6337
4.0    3378
2.0    2869
5.0    2670
0.0     144
Name: Seat Comfort, dtype: int64

In [33]:
df['Cabin Staff Service'].value_counts()

1.0    5971
5.0    4662
4.0    2940
3.0    2848
2.0    2360
0.0     130
Name: Cabin Staff Service, dtype: int64

In [34]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
# Extract the column to be imputed as a 2D array
data = df[['Cabin Staff Service']].values.reshape(-1, 1)
# Perform KNN imputation
imputed_values = imputer.fit_transform(data)
# Round the imputed values to the nearest integers
imputed_data_rounded = np.round(imputed_values)

In [35]:
df['Cabin Staff Service']=imputed_data_rounded

In [36]:
df['Cabin Staff Service'].isnull().sum()

0

In [37]:
df['Cabin Staff Service'].value_counts()

3.0    7108
1.0    5971
5.0    4662
4.0    2940
2.0    2360
0.0     130
Name: Cabin Staff Service, dtype: int64

In [38]:
df['Ground Service'].value_counts()

1.0    9473
5.0    3159
4.0    2347
3.0    1803
2.0    1596
Name: Ground Service, dtype: int64

In [39]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
# Extract the column to be imputed as a 2D array
data = df[['Ground Service']].values.reshape(-1, 1)
# Perform KNN imputation
imputed_values = imputer.fit_transform(data)
# Round the imputed values to the nearest integers
imputed_data_rounded = np.round(imputed_values)

In [40]:
df['Ground Service']=imputed_data_rounded

In [41]:
df['Food & Beverages'].value_counts()

1.0    5283
3.0    2424
4.0    2332
5.0    2242
2.0    1967
0.0     252
Name: Food & Beverages, dtype: int64

In [42]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
# Extract the column to be imputed as a 2D array
data = df[['Food & Beverages']].values.reshape(-1, 1)
# Perform KNN imputation
imputed_values = imputer.fit_transform(data)
# Round the imputed values to the nearest integers
imputed_data_rounded = np.round(imputed_values)

In [43]:
df['Food & Beverages']=imputed_data_rounded

In [44]:
df['Food & Beverages'].isnull().sum()

0

In [45]:
df['Food & Beverages'].value_counts()

3.0    11095
1.0     5283
4.0     2332
5.0     2242
2.0     1967
0.0      252
Name: Food & Beverages, dtype: int64

In [46]:
df['Inflight Entertainment'].value_counts()

1.0    4845
3.0    1700
4.0    1329
2.0    1278
5.0    1156
0.0     521
Name: Inflight Entertainment, dtype: int64

In [47]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=7)
# Extract the column to be imputed as a 2D array
data = df[['Inflight Entertainment']].values.reshape(-1, 1)
# Perform KNN imputation
imputed_values = imputer.fit_transform(data)
# Round the imputed values to the nearest integers
imputed_data_rounded = np.round(imputed_values)

In [48]:
df['Inflight Entertainment']=imputed_data_rounded

In [49]:
df['Inflight Entertainment'].isnull().sum()

0

In [50]:
df['Inflight Entertainment'].value_counts()

3.0    11095
1.0     5283
4.0     2332
5.0     2242
2.0     1967
0.0      252
Name: Inflight Entertainment, dtype: int64

In [51]:
df['Wifi & Connectivity'].value_counts()

1.0    4061
5.0     492
3.0     487
2.0     479
4.0     400
0.0       1
Name: Wifi & Connectivity, dtype: int64

In [52]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=7)
# Extract the column to be imputed as a 2D array
data = df[['Wifi & Connectivity']].values.reshape(-1, 1)
# Perform KNN imputation
imputed_values = imputer.fit_transform(data)
# Round the imputed values to the nearest integers
imputed_data_rounded = np.round(imputed_values)

In [53]:
df['Wifi & Connectivity']=imputed_data_rounded

In [54]:
df['Wifi & Connectivity'].isnull().sum()

0

In [55]:
df['Wifi & Connectivity'].value_counts()

2.0    17730
1.0     4061
5.0      492
3.0      487
4.0      400
0.0        1
Name: Wifi & Connectivity, dtype: int64

In [56]:
df['Value For Money'].value_counts()

1.0    10136
5.0     3808
4.0     3379
2.0     2444
3.0     2201
0.0      137
Name: Value For Money, dtype: int64

In [57]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=3)
# Extract the column to be imputed as a 2D array
data = df[['Value For Money']].values.reshape(-1, 1)
# Perform KNN imputation
imputed_values = imputer.fit_transform(data)
# Round the imputed values to the nearest integers
imputed_data_rounded = np.round(imputed_values)

In [58]:
df['Value For Money']=imputed_data_rounded

In [59]:
df['Value For Money'].isnull().sum()

0

In [60]:
df['Value For Money'].value_counts()

1.0    10136
5.0     3808
2.0     3510
4.0     3379
3.0     2201
0.0      137
Name: Value For Money, dtype: int64

In [61]:
df['Recommended'].value_counts()

no     15364
yes     7807
Name: Recommended, dtype: int64

In [62]:
df['Recommended']=df['Recommended'].map({'no':0,'yes':1})

In [63]:
df['Recommended'].value_counts()

0    15364
1     7807
Name: Recommended, dtype: int64

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline Name            23171 non-null  object
 1   Overall_Rating          23171 non-null  int64
 2   Review_Title            23171 non-null  object
 3   Review Date             23171 non-null  object
 4   Verified                23171 non-null  bool
 5   Review                  23171 non-null  object
 6   Aircraft                7129 non-null   object
 7   Type Of Traveller       23171 non-null  object
 8   Seat Type               23171 non-null  object
 9   Route                   19343 non-null  object
 10  Date Flown              19417 non-null  object
 11  Seat Comfort            23171 non-null  float64
 12  Cabin Staff Service     23171 non-null  float64
 13  Food & Beverages        23171 non-null  float64
 14  Ground Service          23171 non-null  float64
 15  Inflight Entertainment  23171 non-null  float64
 16  Wifi & Connectivity     23171 non-null  float64
 17  Value For Money         23171 non-null  float64
 18  Recommended             23171 non-null  int64
dtypes: bool(1), float64(7), int64(2), object(9)
memory usage: 3.2+ MB

Data Correlation

In [65]:
df.select_dtypes(exclude='object').columns

Index(['Overall_Rating', 'Verified', 'Seat Comfort', 'Cabin Staff Service',
       'Food & Beverages', 'Ground Service', 'Inflight Entertainment',
       'Wifi & Connectivity', 'Value For Money', 'Recommended'],
      dtype='object')

In [66]:
corr=df[['Overall_Rating', 'Verified', 'Seat Comfort', 'Cabin Staff Service',
       'Food & Beverages', 'Ground Service', 'Inflight Entertainment',
       'Wifi & Connectivity', 'Value For Money', 'Recommended']].corr()
corr

,Overall_Rating,Verified,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
Overall_Rating,1.000000,-0.204300,0.391663,0.407321,0.279099,0.422733,0.279099,0.163347,0.502475,0.534450
Verified,-0.204300,1.000000,-0.033742,-0.015314,-0.004919,0.030087,-0.004919,-0.003812,-0.061684,-0.073313
Seat Comfort,0.391663,-0.033742,1.000000,0.751452,0.607497,0.646234,0.607497,0.377799,0.692642,0.635790
Cabin Staff Service,0.407321,-0.015314,0.751452,1.000000,0.639768,0.660996,0.639768,0.360149,0.697259,0.653938
Food & Beverages,0.279099,-0.004919,0.607497,0.639768,1.000000,0.508019,1.000000,0.418217,0.571232,0.537770
Ground Service,0.422733,0.030087,0.646234,0.660996,0.508019,1.000000,0.508019,0.348363,0.738261,0.703039
Inflight Entertainment,0.279099,-0.004919,0.607497,0.639768,1.000000,0.508019,1.000000,0.418217,0.571232,0.537770
Wifi & Connectivity,0.163347,-0.003812,0.377799,0.360149,0.418217,0.348363,0.418217,1.000000,0.334175,0.309560
Value For Money,0.502475,-0.061684,0.692642,0.697259,0.571232,0.738261,0.571232,0.334175,1.000000,0.833874
Recommended,0.534450,-0.073313,0.635790,0.653938,0.537770,0.703039,0.537770,0.309560,0.833874,1.000000

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline Name            23171 non-null  object
 1   Overall_Rating          23171 non-null  int64
 2   Review_Title            23171 non-null  object
 3   Review Date             23171 non-null  object
 4   Verified                23171 non-null  bool
 5   Review                  23171 non-null  object
 6   Aircraft                7129 non-null   object
 7   Type Of Traveller       23171 non-null  object
 8   Seat Type               23171 non-null  object
 9   Route                   19343 non-null  object
 10  Date Flown              19417 non-null  object
 11  Seat Comfort            23171 non-null  float64
 12  Cabin Staff Service     23171 non-null  float64
 13  Food & Beverages        23171 non-null  float64
 14  Ground Service          23171 non-null  float64
 15  Inflight Entertainment  23171 non-null  float64
 16  Wifi & Connectivity     23171 non-null  float64
 17  Value For Money         23171 non-null  float64
 18  Recommended             23171 non-null  int64
dtypes: bool(1), float64(7), int64(2), object(9)
memory usage: 3.2+ MB

In [68]:
df.drop(['Wifi & Connectivity','Inflight Entertainment','Verified','Aircraft','Airline Name','Review Date','Route','Date Flown'],axis=1,inplace=True)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Overall_Rating       23171 non-null  int64
 1   Review_Title         23171 non-null  object
 2   Review               23171 non-null  object
 3   Type Of Traveller    23171 non-null  object
 4   Seat Type            23171 non-null  object
 5   Seat Comfort         23171 non-null  float64
 6   Cabin Staff Service  23171 non-null  float64
 7   Food & Beverages     23171 non-null  float64
 8   Ground Service       23171 non-null  float64
 9   Value For Money      23171 non-null  float64
 10  Recommended          23171 non-null  int64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.9+ MB

Encoding

In [71]:
newdf=pd.get_dummies(df, columns=['Type Of Traveller'], prefix = ['traveller'],dtype=int)

In [72]:
new_df=pd.get_dummies(newdf, columns=['Seat Type'], prefix = ['seat'],dtype=int)

In [73]:
new_df.shape

(23171, 17)

In [74]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Overall_Rating            23171 non-null  int64
 1   Review_Title              23171 non-null  object
 2   Review                    23171 non-null  object
 3   Seat Comfort              23171 non-null  float64
 4   Cabin Staff Service       23171 non-null  float64
 5   Food & Beverages          23171 non-null  float64
 6   Ground Service            23171 non-null  float64
 7   Value For Money           23171 non-null  float64
 8   Recommended               23171 non-null  int64
 9   traveller_Business        23171 non-null  int64
 10  traveller_Couple Leisure  23171 non-null  int64
 11  traveller_Family Leisure  23171 non-null  int64
 12  traveller_Solo Leisure    23171 non-null  int64
 13  seat_Business Class       23171 non-null  int64
 14  seat_Economy Class        23171 non-null  int64
 15  seat_First Class          23171 non-null  int64
 16  seat_Premium Economy      23171 non-null  int64
dtypes: float64(5), int64(10), object(2)
memory usage: 3.0+ MB

In [75]:
target=new_df.pop('Recommended')
new_df['Recommended']=target

In [76]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Overall_Rating            23171 non-null  int64
 1   Review_Title              23171 non-null  object
 2   Review                    23171 non-null  object
 3   Seat Comfort              23171 non-null  float64
 4   Cabin Staff Service       23171 non-null  float64
 5   Food & Beverages          23171 non-null  float64
 6   Ground Service            23171 non-null  float64
 7   Value For Money           23171 non-null  float64
 8   traveller_Business        23171 non-null  int64
 9   traveller_Couple Leisure  23171 non-null  int64
 10  traveller_Family Leisure  23171 non-null  int64
 11  traveller_Solo Leisure    23171 non-null  int64
 12  seat_Business Class       23171 non-null  int64
 13  seat_Economy Class        23171 non-null  int64
 14  seat_First Class          23171 non-null  int64
 15  seat_Premium Economy      23171 non-null  int64
 16  Recommended               23171 non-null  int64
dtypes: float64(5), int64(10), object(2)
memory usage: 3.0+ MB

Text Data Processing

In [77]:
new_df['Review_Title'].value_counts()

Onur Air customer review                  84
US Airways customer review                75
Germanwings customer review               74
Meridiana customer review                 71
CityJet customer review                   68
                                          ..
"I will not fly Delta again"               1
"could not have been kinder"               1
"Terrible experience with Delta"           1
"Got delayed more than 4 hours"            1
"lost all of our money with no refund"     1
Name: Review_Title, Length: 17219, dtype: int64

In [78]:
new_df['Review']

0          Moroni to Moheli. Turned out to be a pretty ...
1         Moroni to Anjouan. It is a very small airline...
2          Anjouan to Dzaoudzi. A very small airline an...
3          Please do a favor yourself and do not fly wi...
4         Do not book a flight with this airline! My fr...
                               ...
23166     Bangkok to Tokyo. I’ve flown many low cost ai...
23167      Avoid at all costs. I booked flights to go f...
23168      Flight was leaving at 23.15 and after an hou...
23169     Zipair is JAL’s budget airline. They don’t ha...
23170      They lied about connection in Narita and we ...
Name: Review, Length: 23171, dtype: object

In [79]:
def lower(text):
    text=text.lower()
    return text.strip()

In [80]:
new_df['Review_Title']=new_df['Review_Title'].apply(lambda x:lower(x))

In [81]:
new_df['Review']=new_df['Review'].apply(lambda x:lower(x))

In [83]:
import string
string.punctuation
from string import re

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [86]:
import string
def remove_pinctuation(text):
    ch_text="".join([i for i in text if i not in string.punctuation])
    return ch_text

In [87]:
new_df['Review_Title']=new_df['Review_Title'].apply(lambda x:remove_pinctuation(x))

In [88]:
new_df['Review_Title']=new_df['Review_Title'].apply(lambda x:remove_pinctuation(x))

In [89]:
new_df['Review_Title']

0                       pretty decent airline
1                          not a good airline
2                flight was fortunately short
3           i will never fly again with adria
4         it ruined our last days of holidays
                         ...
23166            customer service is terrible
23167                      avoid at all costs
23168            will not recommend to anyone
23169               it was immaculately clean
23170    lost all of our money with no refund
Name: Review_Title, Length: 23171, dtype: object

In [90]:
new_df['Review']=new_df['Review'].apply(lambda x:remove_pinctuation(x))

In [91]:
new_df['Review']

0        moroni to moheli turned out to be a pretty dec...
1        moroni to anjouan it is a very small airline m...
2        anjouan to dzaoudzi a very small airline and t...
3        please do a favor yourself and do not fly with...
4        do not book a flight with this airline my frie...
                               ...
23166    bangkok to tokyo i’ve flown many low cost airl...
23167    avoid at all costs i booked flights to go from...
23168    flight was leaving at 2315 and after an hour a...
23169    zipair is jal’s budget airline they don’t have...
23170    they lied about connection in narita and we lo...
Name: Review, Length: 23171, dtype: object

In [92]:
import re
def remove_digit(text):
    clean_text=re.sub(r"\b[0-9]+\b\s*","",text)
    return(clean_text)

In [93]:
new_df['Review_Title']=new_df['Review_Title'].apply(lambda x:remove_digit(x))

In [94]:
new_df['Review']=new_df['Review'].apply(lambda x:remove_digit(x))

Removing Stop Words

In [100]:
import nltk
nltk.download("stopwords")
nltk.download("punkt")
stopwords=nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [101]:
def remove_stopwords(text):
    tokens=nltk.word_tokenize(text)
    output=" ".join(i for i in tokens if i not in stopwords)
    return output

In [102]:
new_df['Review_Title']=new_df['Review_Title'].apply(lambda x:remove_stopwords(x))

In [104]:
new_df['Review_Title']

0            pretty decent airline
1                     good airline
2         flight fortunately short
3                  never fly adria
4        ruined last days holidays
                   ...
23166    customer service terrible
23167                  avoid costs
23168             recommend anyone
23169           immaculately clean
23170            lost money refund
Name: Review_Title, Length: 23171, dtype: object

In [105]:
new_df['Review']=new_df['Review'].apply(lambda x:remove_stopwords(x))

In [106]:
new_df['Review']

0        moroni moheli turned pretty decent airline onl...
1        moroni anjouan small airline ticket advised tu...
2        anjouan dzaoudzi small airline airline based c...
3        please favor fly adria route munich pristina j...
4        book flight airline friend returned sofia amst...
                               ...
23166    bangkok tokyo ’ flown many low cost airlines s...
23167    avoid costs booked flights go singapore tokyo ...
23168    flight leaving hour half flying get back airpo...
23169    zipair jal ’ budget airline ’ classes travel p...
23170    lied connection narita lost money refund agree...
Name: Review, Length: 23171, dtype: object

In [107]:
'\’' in string.punctuation

False

In [108]:
def remove_special_character(text):
    # Define a regular expression pattern to match the character U+2019 (’)
    special_char_pattern = r'\u2019'
    # Use the re.sub() function to replace all occurrences of the pattern with an empty string
    cleaned_text = re.sub(special_char_pattern, '', text)
    return cleaned_text

In [109]:
new_df['Review']=new_df['Review'].apply(lambda x:remove_special_character(x))

In [110]:
new_df['Review']

0        moroni moheli turned pretty decent airline onl...
1        moroni anjouan small airline ticket advised tu...
2        anjouan dzaoudzi small airline airline based c...
3        please favor fly adria route munich pristina j...
4        book flight airline friend returned sofia amst...
                               ...
23166    bangkok tokyo  flown many low cost airlines st...
23167    avoid costs booked flights go singapore tokyo ...
23168    flight leaving hour half flying get back airpo...
23169    zipair jal  budget airline  classes travel pic...
23170    lied connection narita lost money refund agree...
Name: Review, Length: 23171, dtype: object

In [111]:
new_df['Review_Title']=new_df['Review_Title'].apply(lambda x:remove_special_character(x))

In [112]:
new_df['Review_Title']

0            pretty decent airline
1                     good airline
2         flight fortunately short
3                  never fly adria
4        ruined last days holidays
                   ...
23166    customer service terrible
23167                  avoid costs
23168             recommend anyone
23169           immaculately clean
23170            lost money refund
Name: Review_Title, Length: 23171, dtype: object

Lemmatization

In [113]:
import spacy
nlp=spacy.load('en_core_web_sm')

In [114]:
stopwords=nlp.Defaults.stop_words
def lemmatizer(text):
    doc=nlp(text)
    sent=[token.lemma_ for token in doc if not token.text in set(stopwords)]
    return ' '.join(sent)

In [115]:
new_df['Review_Title']=new_df['Review_Title'].apply(lambda x:lemmatizer(x))

In [116]:
new_df['Review_Title']

0            pretty decent airline
1                     good airline
2         flight fortunately short
3                        fly adria
4                 ruin day holiday
                   ...
23166    customer service terrible
23167                   avoid cost
23168                    recommend
23169           immaculately clean
23170            lose money refund
Name: Review_Title, Length: 23171, dtype: object

In [117]:
new_df['Review']=new_df['Review'].apply(lambda x:lemmatizer(x))

In [118]:
new_df['Review']

0        moroni moheli turn pretty decent airline onlin...
1        moroni anjouan small airline ticket advise tur...
2        anjouan dzaoudzi small airline airline base co...
3        favor fly adria route munich pristina july los...
4        book flight airline friend return sofia amster...
                               ...
23166    bangkok tokyo   fly low cost airline serve mea...
23167    avoid cost book flight singapore tokyo unfores...
23168    flight leave hour half fly airport medical eme...
23169    zipair jal   budget airline   class travel pic...
23170    lie connection narita lose money refund agreem...
Name: Review, Length: 23171, dtype: object

Vectorization

In [119]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
vec_review=tf.fit_transform(new_df["Review"])

In [120]:
vec_review_t=tf.fit_transform(new_df["Review_Title"])

In [121]:
# Split the DataFrame into features and target
X = new_df.drop(columns=['Recommended'])
y = new_df['Recommended']

Feature Matrix Formation

In [122]:
from scipy.sparse import csr_matrix, hstack
# Concatenate the TF-IDF sparse matrix with the numeric columns
# Convert the numeric data to a sparse matrix
sparse_numeric_data = csr_matrix(X.drop(columns=["Review","Review_Title"]).values)
# Concatenate the sparse matrices horizontally (along the columns)
final_feature_matrix = hstack([sparse_numeric_data,vec_review, vec_review_t])

In [123]:
final_feature_matrix

<23171x38051 sparse matrix of type '<class 'numpy.float64'>'
	with 1297747 stored elements in Compressed Sparse Row format>

Splitting Data into Train and Test data

In [124]:
from sklearn.model_selection import train_test_split
# Split the combined feature matrix and the target (if applicable) into train and test sets
X_train, X_test, y_train, y_test = train_test_split(final_feature_matrix, y, test_size=0.2,stratify=y, random_state=42)

In [125]:
X_train.shape

(18536, 38051)

In [126]:
y_train.shape

(18536,)

Using Logistic Regression

In [127]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(n_jobs=-1)

In [128]:
logreg.fit(X_train,y_train)

LogisticRegression(n_jobs=-1)

In [129]:
log_pred=logreg.predict(X_test)

In [130]:
from sklearn.metrics import accuracy_score
accuracy_lr = accuracy_score(y_test, log_pred)
print('Accuracy:', accuracy_lr)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, log_pred)
print("Confusion Matrix:")
print(cm)

from sklearn.metrics import precision_score, recall_score, f1_score

precision_lr = precision_score(y_test, log_pred)
recall_lr = recall_score(y_test, log_pred)
f1_lr = f1_score(y_test, log_pred)

print("Precision:", precision_lr)
print("Recall:", recall_lr)
print("F1-Score:", f1_lr)

Accuracy: 0.9546925566343042
Confusion Matrix:
[[2970  103]
 [ 107 1455]]
Precision: 0.9338896020539152
Recall: 0.9314980793854033
F1-Score: 0.9326923076923077

In [131]:
from sklearn.metrics import classification_report
report = classification_report(y_test, log_pred,target_names=['Negative','Positive'])
print(report)

              precision    recall  f1-score   support

    Negative       0.97      0.97      0.97      3073
    Positive       0.93      0.93      0.93      1562

    accuracy                           0.95      4635
   macro avg       0.95      0.95      0.95      4635
weighted avg       0.95      0.95      0.95      4635